/* My style */

$font-size: 12px;
$first_text-color: #00FF00;
$second_text-color: #FF0000;

.info, .success, .warning {
    font-size: $font-size;
}

.success {
    color: $first_text-color;
}
.warning {
    color: $second_text-color;
   } 

